@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-SemiBold.eot');
    src: local('Bulmer MT Std Semibold'), local('BulmerMTStd-SemiBold'),
        url('BulmerMTStd-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-SemiBold.woff2') format('woff2'),
        url('BulmerMTStd-SemiBold.woff') format('woff'),
        url('BulmerMTStd-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-Display.eot');
    src: local('Bulmer MT Std Display'), local('BulmerMTStd-Display'),
        url('BulmerMTStd-Display.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-Display.woff2') format('woff2'),
        url('BulmerMTStd-Display.woff') format('woff'),
        url('BulmerMTStd-Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-BoldItalicDisp.eot');
    src: local('Bulmer MT Std Bold Italic Display'), local('BulmerMTStd-BoldItalicDisp'),
        url('BulmerMTStd-BoldItalicDisp.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-BoldItalicDisp.woff2') format('woff2'),
        url('BulmerMTStd-BoldItalicDisp.woff') format('woff'),
        url('BulmerMTStd-BoldItalicDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-SemiBoldItalic.eot');
    src: local('Bulmer MT Std Semibold Italic'), local('BulmerMTStd-SemiBoldItalic'),
        url('BulmerMTStd-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-SemiBoldItalic.woff2') format('woff2'),
        url('BulmerMTStd-SemiBoldItalic.woff') format('woff'),
        url('BulmerMTStd-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-BoldItalic.eot');
    src: local('Bulmer MT Std Bold Italic'), local('BulmerMTStd-BoldItalic'),
        url('BulmerMTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-BoldItalic.woff2') format('woff2'),
        url('BulmerMTStd-BoldItalic.woff') format('woff'),
        url('BulmerMTStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-BoldDisplay.eot');
    src: local('Bulmer MT Std Bold Display'), local('BulmerMTStd-BoldDisplay'),
        url('BulmerMTStd-BoldDisplay.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-BoldDisplay.woff2') format('woff2'),
        url('BulmerMTStd-BoldDisplay.woff') format('woff'),
        url('BulmerMTStd-BoldDisplay.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-Italic.eot');
    src: local('Bulmer MT Std Italic'), local('BulmerMTStd-Italic'),
        url('BulmerMTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-Italic.woff2') format('woff2'),
        url('BulmerMTStd-Italic.woff') format('woff'),
        url('BulmerMTStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-Bold.eot');
    src: local('Bulmer MT Std Bold'), local('BulmerMTStd-Bold'),
        url('BulmerMTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-Bold.woff2') format('woff2'),
        url('BulmerMTStd-Bold.woff') format('woff'),
        url('BulmerMTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-ItalicDisplay.eot');
    src: local('Bulmer MT Std Italic Display'), local('BulmerMTStd-ItalicDisplay'),
        url('BulmerMTStd-ItalicDisplay.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-ItalicDisplay.woff2') format('woff2'),
        url('BulmerMTStd-ItalicDisplay.woff') format('woff'),
        url('BulmerMTStd-ItalicDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bulmer MT Std';
    src: url('BulmerMTStd-Regular.eot');
    src: local('Bulmer MT Std Regular'), local('BulmerMTStd-Regular'),
        url('BulmerMTStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('BulmerMTStd-Regular.woff2') format('woff2'),
        url('BulmerMTStd-Regular.woff') format('woff'),
        url('BulmerMTStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

